<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056185451111-ef2rhkh46851t7sdq5kg5ksqi4aa2v7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056185451111-ef2rhkh46851t7sdq5kg5ksqi4aa2v7f</string>
	<key>API_KEY</key>
	<string>AIzaSyDY3WsdoxDqIpMAwwDsAY3JTMZ9a7lPwMw</string>
	<key>GCM_SENDER_ID</key>
	<string>1056185451111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackerApp</string>
	<key>PROJECT_ID</key>
	<string>bustrack-369516</string>
	<key>STORAGE_BUCKET</key>
	<string>bustrack-369516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056185451111:ios:01d70c62d2e83f43cdcac2</string>
</dict>
</plist>